<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content: Home page -->
<main class="container" >
  <div class="mt-5 bg-primary" >
    <h1 class="p-5 " style="color: white!important"> Welcome to my world!!! Have a look on my work </h1> 
  </div>
  
  <img style="margin-right: 8rem;" src="http://localhost:3000/Assets/images/Dhavalbhai" height="10%" width="20%"/>
  <button type="button" onclick="location.href='/about'" class="btn btn-success">Info</button>
</main>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>




