<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container" >
    <div class="mt-5" >
      
    </div>
    <!-- <div  style="margin-bottom: 100px; margin-right: 8rem;"> -->
        <div class="d-flex ">
            <div>
                <h1 id="lgreen"> EmoTune</h1>
                <div>
                    <img src="http://localhost:3000/Assets/images/emotune.jpg" alt="project1"  width="50%" >
                </div>
                <p > Emotion Prediction and help people to entertain with different option to comforting them.
                Application provide list of songs, videos, and books based on moods of people with is predicted by system
                </p>
            </div>
            <div>
                <h1 id="lgreen"> Health Prediction</h1>
                <div>
                    <img src="http://localhost:3000/Assets/images/healthPrediction.jpg" alt="project1"  width="50%" >
                </div>
                <p > Build to help people to predict disease or health problems based on symptoms they provide and offer medical help by showing doctors details, medicine to prevent or cure disease and show nearby medical stores on map to get help asap.
                </p>
            </div>
       <!-- </div> -->
    </div>
  </main>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>









